img.wp-image-16 {
    width: 98px !important;
}

.et_pb_section_3_tb_header.et_pb_section {
    background-color: #fffefa !important;
}

.et_pb_text_1 h1 {
    font-family: 'Chalet',Helvetica,Arial,Lucida,sans-serif;
    font-size: 30px;
    color: #000000!important;
    letter-spacing: -0.45px;
    line-height: 47px;
    text-align: left;
}

.sap-icon{
    font-size: 33px !important;
}

.et_pb_blurb_description{
    /* display: none !important;*/
}

.et_pb_section.et_pb_section_3_tb_header.header-bar.et_pb_with_background.et_section_regular {
    background-color: white !important;
}


.custom-cards img {
    width: 200px !important;
    margin-top: 10px;
}

.custom-a-social{
    color: black !important;
}




@media only screen and (max-width: 620px) {

    .feature-slider {
        background-size: cover;
    }


    .paypal-form{
        text-align: center !important;
    }
}

.cs-sold-out{
    color: red;
}

p.custom-btn-comprar a {
    background-color: #ff000000 !important;
    color: black !important;
    border: solid 1px !important;
}

h2.custom-slider-text {
    text-shadow: 2px 2px #0000004f;
}

@media only screen and (max-width: 620px) {
    h2.custom-slider-text.herbalist-kit {
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        text-shadow: none;
    }
}